body{
	background-color:#697184;
}
.container {
	
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
}

.section {
	background-color: #f2f1ef;
  flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 10%;
    height: 88%;
  
}

.section h2 {
  margin-top: 0;
}

.dragga{
  margin:10px 10px;
  
}

.dragga img {
  width: 100px;
  height: auto;
  cursor: move;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.make-pop{
	border: 4px solid red;
}
 button{
	margin: 3% 40%;
    height: 3rem;
    width: 20%;
 }
 